@import url(href="https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.aboutMe{
    .about-description-card{
        background-color: #FAE9E7;
        display: flex;
        flex-direction: column;

        .about-text-container{
            padding: 2rem 1rem;
            color: #725A58;
            h3{
                margin-bottom: 1rem;
            }

            .btn-aboutMe-container{
                display: flex;
                justify-content: center;

                .btn-aboutMe{
                    background-color: transparent;
                    color: #725A58;
                    font-size: 18px;
                    display: flex;
                    justify-content: center;
                    padding: 1rem 3rem;
                    border: 0.5px solid #725A58;
                    // margin: 0.5rem auto;
                }
            }
        }
            @media screen and (min-width:800px) {
            // display:grid ;
            // grid-template-columns: 1fr 2fr;
            display: flex;
            flex-direction: row;
            padding: 5rem 7rem 3.5rem 7rem;
            gap: 1rem;

            img{
                margin: 0 auto;
            }

            .about-text-container{
                // margin: auto 0;
            
                h3{
                    font-size: 48px;
                    width: 80%;
                }

                p{
                    font-family: "Lato", sans-serif;;
                }
                .btn-aboutMe-container{
                    display: flex;
                    justify-content: start;
                    margin: 0;

                    .btn-aboutMe{
                        display: flex;
                        justify-content: start;
                    }
                }
            }
            
        }

    }

    .brand-logo-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        margin: 1rem auto;

        @media screen and (min-width:800px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 3rem;
        }

        .logo-container{
            display: flex;
            align-items: center;
            img{
                opacity: 30%;
                display: flex;
                justify-content: center;
                margin: 0.2rem auto;
            }
        }
    }
}