.footer {
    background-color: #fefcfa;
    text-align: center;
    padding: 40px 20px;
    color: #5c4033;

    &-logo {
        width: 80px;
        margin-bottom: 10px;
    }

    &-title {
        font-family: 'Baskervville', serif;
        font-size: 24px;
        margin: 10px 0 5px;
        color: #000;
    }

    &-subtitle {
        font-size: 14px;
        margin: 0;
        color: #333;
    }

    &-icons {
        margin: 15px 0;
        font-size: 18px;

        i {
            margin: 0 10px;
            color: #5c4033;
        }
    }

    &-nav {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;

        a {
            text-decoration: none;
            color: variable.$brown;
            font-size: 16px;
            font-family: 'Baskervville', serif;
            position: relative;
            padding-bottom: 5px;

            &.active {
                border-bottom: 1px solid variable.$brown;
            }
        }
    }

    &-bottom {
        p {
            font-size: 13px;
            color: #666;
            margin: 0;
            font-family: 'Avenir', sans-serif;
        }
    }

    .divider {
        border: none;
        border-top: 1px solid variable.$divider;
        margin: 20px auto;
        max-width: 85%;
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 2rem 1rem;
    
        &-nav {
          flex-direction: column;
          gap: 0.5rem;
          align-items: center;
        }
    
        &-icons {
          font-size: 18px;
          i {
            margin: 0 8px;
          }
        }
    
        &-bottom {
          p {
            font-size: 12px;
          }
        }
      }
    }