@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  margin: 0;
  font-family: "Baskervville", serif;
  background-color: #F8F6F4;
}
body .hero-container {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 49%, rgb(0, 0, 0) 100%), url("/assets/images/hero_img.png");
  height: 630px;
  width: 100%;
  background-size: cover;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: end;
  color: white;
}
body .hero-container .hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5rem;
}
body .hero-container .hero-text-container img {
  display: flex;
  justify-content: center;
}
body .hero-container .hero-text-container .hero-paragraph {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
}
body .hero-container .hero-text-container .hero-paragraph div {
  width: 80%;
  display: flex;
  justify-content: center;
}
body .hero-container .hero-text-container .hero-paragraph .hero-btn {
  width: 70%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 1rem 4rem;
  margin-top: 1.5rem;
  font-family: "Baskervville", serif;
}
body .home-aboutMe {
  margin: 2rem 1rem;
  color: #535353;
}
@media screen and (min-width: 600px) {
  body .home-aboutMe {
    margin: 2rem 5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 1rem;
  }
}
body .home-aboutMe .top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
body .home-aboutMe .top-container .about-top-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 600px) {
  body .home-aboutMe .top-container .about-top-container {
    justify-content: start;
    justify-items: start;
    text-align: start;
  }
}
body .home-aboutMe .top-container .about-top-container .cl_logo {
  width: 10%;
  height: auto;
  max-width: 50px;
}
body .home-aboutMe .top-container .about-top-container .cl_logo .logo {
  position: relative;
  width: 100px;
  height: 150px;
}
body .home-aboutMe .top-container .about-top-container .cl_logo .logo span.letter-c {
  vertical-align: super;
}
body .home-aboutMe .top-container .about-top-container h5 {
  font-size: 32px;
  margin: 0.5rem;
}
body .home-aboutMe .top-container .about-top-container div {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  margin: 0.7rem 5rem;
}
@media screen and (min-width: 600px) {
  body .home-aboutMe .top-container .about-top-container div {
    margin: 0;
  }
}
body .home-aboutMe .top-container .about-top-container img.signiture_cb {
  width: 50%;
  height: auto;
  margin: 2rem auto;
}
@media screen and (min-width: 600px) {
  body .home-aboutMe .top-container .about-top-container img.signiture_cb {
    transform: rotate(-30deg);
    width: fit-content;
    display: inline;
  }
}
body .home-aboutMe .top-container .about-top-container a {
  padding: 1rem 3rem;
  border: 1px solid #725A58;
  color: #725A58;
  text-decoration: none;
}
body .home-aboutMe .about-picture-card {
  width: fit-content;
  padding: 1rem 1rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin: 2rem auto;
}
@media screen and (min-width: 600px) {
  body .home-aboutMe .about-picture-card {
    margin: 0;
  }
}
body .home-aboutMe .about-picture-card .about-picture-card-top {
  position: relative;
  display: flex;
  justify-content: center;
}
body .home-aboutMe .about-picture-card .about-picture-card-top .aboutMe-picture {
  background: linear-gradient(to left bottom, #E3B6B1 50%, rgb(174, 120, 114) 100%);
}
body .home-aboutMe .about-picture-card .about-picture-card-top .instagram-account {
  position: absolute;
  bottom: 5%;
  left: 20%;
  display: flex;
  align-items: center;
}
body .home-aboutMe .about-picture-card .about-picture-card-top .instagram-account img.instagram-icon {
  height: 10%;
}
body .home-aboutMe .about-picture-card .about-picture-card-top .instagram-account div {
  color: rgb(248, 248, 244);
  font-family: "Lato", sans-serif;
  padding: 0 0.2rem;
}
body .home-aboutMe .about-picture-card .about-picture-card-bottom {
  display: inline-block;
  width: fit-content;
  border: 0.5px solid #535353;
  padding: 1rem 1.9rem;
}
body .home-aboutMe .about-picture-card .about-picture-card-bottom div {
  display: flex;
  gap: 1.5rem;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
body .home-aboutMe .about-picture-card .about-picture-card-bottom div p {
  margin: auto 0;
}
body .brand-container {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .brand-container .brands-text-container .section-divider {
  position: relative;
  text-align: center;
  margin: 2rem;
}
body .brand-container .brands-text-container .section-divider span {
  position: relative;
  background-color: #F8F6F4;
  padding: 0 1rem;
  z-index: 1;
  font-size: 18px;
  color: rgb(83, 83, 83);
  font-family: "Lato", sans-serif;
}
body .brand-container .brands-text-container .section-divider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0.5px;
  background-color: rgb(136, 136, 136);
  z-index: 0;
}
body .brand-container .brand-logo-container {
  width: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 4rem;
}
body .brand-container .brand-logo-container .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .brand-container .brand-logo-container .logo-container img {
  opacity: 60%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 600px) {
  body .brand-container .brand-logo-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
